<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Record Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>Doctor Record</h1>
    <p th:text="'Doctor ID: ' + ${doctor.DID}"/>
    <p th:text="'First Name: ' + ${doctor.fName}"/>
    <p th:text="'Last Name: ' + ${doctor.lName}"/>
    <p th:text="'Date of Birth: ' + ${doctor.DOB}"/>
    <p th:text="'Department ID: ' + ${doctor.deptID}"/>
    <p th:text="'Office Number: ' + ${doctor.officeNo}"/>
    <p th:text="'Status: ' + ${doctor.status}"/>

    <a href="/addDoctor">Add another record</a> <br>
    <a href="/updateDoctor">Update another record</a> <br>
    <a href="/deleteDoctor">Remove another record</a> <br>
    <a href="/index.html">Home</a>
</body>
</html>
