<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Treatment Record Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>Patient Treatment Record</h1>
    <p th:text="'Patient ID: ' + ${patientTreatmentRecord.PID}"/>
    <p th:text="'Doctor ID: ' + ${patientTreatmentRecord.DID}"/>
    <p th:text="'Appointment Number: ' + ${patientTreatmentRecord.apptNo}"/>
    <p th:text="'Visit Reason: ' + ${patientTreatmentRecord.visitReason}"/>
    <p th:text="'Visit Date: ' + ${patientTreatmentRecord.visitDate}"/>
    <p th:text="'Date Hospitalized: ' + ${patientTreatmentRecord.dateHospitalized}"/>
    <p th:text="'Expected Discharge: ' + ${patientTreatmentRecord.expectedDisharge}"/>
    <p th:text="'Actual Discharge: ' + ${patientTreatmentRecord.actualDischarge}"/>
    <p th:text="'Room Number: ' + ${patientTreatmentRecord.roomNo}"/>
    <p th:text="'Treatment Method: ' + ${patientTreatmentRecord.treatmentMethod}"/>

    <a href="/ptRecordInsertion">Add another patient treatment record</a> <br>
    <a href="/ptRecordUpdate">Update another patient treatment record</a> <br>
    <a href="/index.html">Home</a>


</body>
</html>
